CLOUDFLARE_TUNNEL_TOKEN=
CLOUDFLARE_API_TOKEN=
TZ=Africa/Tunis
HOMELAB_URL=http://192.168.0.163
NEXTCLOUD_PASSPHRASE=
NEXTCLOUD_ADMIN_USER=
WEBPASSWORD=
JELLYFIN_API_KEY=
SONARR_API_KEY=
RADARR_API_KEY=
SEERR_API_KEY=
YT_TA_USERNAME=
YT_TA_PASSWORD=
YT_ELASTIC_PASSWORD=
SUBTITLE_MEDIA_DIR=D:/subtitles
SUBTITLE_MIN_AGE_SECONDS=90
SUBTITLE_AUDIO_TRACK=0
WHISPER_MODEL=medium
WHISPER_LANGUAGE=
SUBTITLE_LLM_MODEL=
SUBTITLE_LLM_BASE_URL=http://host.docker.internal:1234/v1
