CLOUDFLARE_TUNNEL_TOKEN=
CLOUDFLARE_API_TOKEN=
TZ=Africa/Tunis
HOMELAB_URL=http://192.168.0.163
NEXTCLOUD_PASSPHRASE=
NEXTCLOUD_ADMIN_USER=
WEBPASSWORD=
JELLYFIN_API_KEY=
SONARR_API_KEY=
RADARR_API_KEY=
YT_TA_USERNAME=
YT_TA_PASSWORD=
YT_ELASTIC_PASSWORD=
